<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/index.css">


    </head>
    <body>

        <form class = "grid" action = "/result" method = "POST">
            <center>
                {% if name %}
                <h3 style= "color: blue;"> Hello {{name}}, how are you? </h3>
                {% endif %}

            </center>

            <label for = "Name"> Enter Your Name:</label>
            <input type= "text" name = "name" id = "name">


            <center><input type = "Submit" class = "file_submit"></center>



        </form>





    </body>


</html>

<!--<!doctype html>-->
<!--<title>Hello from Flask</title>-->
<!--{% if name %}-->
<!--  <h1>Hello {{ name }}!</h1>-->
<!--{% else %}-->
<!--  <h1>Hello, World!</h1>-->
<!--{% endif %}-->